* {
  box-sizing: border-box;
}

#header {
  display: flex;
  font-size: 200%;
  background-color: black;
  width: 100%;
  margin: 0 auto;
  height: 150px;
  align-items: center;
}

h1 {
  display: flex;
  color: white;
  margin-left: 5%;
  margin-right: 45%;
  font-size: 100%;
}

ul {
  float: right;
}

li {
  display: inline;
}

#banner {
  display: flex;
  color: white;
  background-image: url("./images/space.jpeg");
  height: 300px;
  background-size: auto;
  background-repeat: no-repeat;
}

#subtitle {
  color: blue;
  background-color: white;
  height: 50px;
  width: 350px;
  margin-left: 75%;
  margin-top: 13%;
  position: relative;
  text-align: center;
}

header nav {
  background-color: red;
  position: flex;
  left: auto;
  right: auto;
  top: 0px;
  height: 150px;
  width: 1400px;
  border-bottom: solid;
}
.navbar {
  background-color: red;
  position: flex;
  left: auto;
  right: auto;
  top: 0px;
  height: 150px;
  width: 1400px;
  border-bottom: solid;
}

.headshot {
  display: flex;
  align-items: flex-start;
  padding-bottom: 5%;
}

.headshot img {
  width: 250px;
}

#about-me {
  display: flex;
  margin-left: 50px;
  padding-top: 50px;
}

#my-work {
  display: flex;
  flex-wrap: wrap;
}
#contact {
  display: flex;
}

.run-buddy img {
  display: flex;
  width: 750px;
  align-items: flex-start;
  padding-bottom: 5%;
  flex-grow: 1;
}

.git {
  display: flex;
  align-items: flex-end;
}

.linkedin {
  display: flex;
  justify-content: end;
  width: 10px;
  max-height: 10px;
}
