* {
  box-sizing: border-box;
  background-color: lightblue;
}

header h1 {
  width: 1500px;
  margin: 0 auto;
  text-align: left;
}

.name {
  width: 100%;
}

header {
  display: flex;
  font-size: 200%;
}

header ul li {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  flex-direction: row;
  text-decoration: underline;
}

header nav {
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  text-decoration: none;
  width: fit-content;
}

/* nav ul a { */

.headshot {
  display: flex;
  width: 1500px;
  margin: 0 auto;
  text-align: left;
}

#about-me {
  display: flex;
}

#my-work {
  display: flex;
}

#contact {
  display: flex;
}

.run-buddy img {
  display: flex;
  width: 500px;
  margin: 0 auto;
  text-align: left;
}
